html, body {
margin:0;
padding:0;
overflow-x:hidden; 
} 

//typography
h1, h2, h3, h4, h6, a , p {
    font-family: 'Helvetica', 'Arial',serif;
} 
a {
    text-decoration: none;
}

//global classes
.flex {
    display: flex;
    &.flex-row {
        flex-direction: row;
    }
    &.flex-column {
        flex-direction: column;
    }
    &.flex-center {
        justify-content: center;
        align-items:center;
    }
}

button {
    border:none;
    border-radius: 0.6rem;
    font-weight: 600;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    z-index: 1;
    cursor:pointer;
    @include breakpoint(medium){
        font-size:1rem;
    }

    &.button-teal {
        color:white;
        background: $teal;
        
        &:active {
            background:$dark-teal;
        }
    }
}

.box-shadow {
    -webkit-box-shadow: 0px 17px 42px 9px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 17px 42px 9px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 9px 0px rgba(0,0,0,0.75);
}