header {
    justify-content: space-between;
    align-items: center;
    background: $black-overlay;
    width:100%;
    height: 8rem;
    position: absolute; 
    top:0;
    left:0;
    @include breakpoint(medium){
        height: 4.5rem;
    }
    
    .main-logo {
        font-size:3.4rem;
        margin:0 0 0 6%;
        color:white;
        @include breakpoint(small){
            margin:0 0 0 0.7rem;
        }
    }
    
    svg {
        height: 6rem;
        width: 17rem;
        display: inline-block;
        vertical-align: middle;
        @include breakpoint(medium){
            width: 13rem;
        }
        @include breakpoint(small){
            width: 8rem;
        }
    }
    
    .menu-icon {

    }
    
    nav {
    
    }
    
}






