.hero-section {
    height: 50rem;
    width:100%;
    background:url('../../../dist/images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    align-items:center;
    margin:0;
    @include breakpoint(small){
        justify-content: center;
        align-items:flex-end;
        height: 100vh;
    }
}

.hero-article {    
    justify-content: center;
    align-items:center;
    background:$black-overlay; 
    border-radius: 0.6rem;
    margin-top:5%;
    padding: 0 4.5rem 2.5rem 4.5rem;
    @include breakpoint(small){
        width: 100%;
        padding:1rem 0;
        border-radius: 0;
        padding-bottom: 2rem;
    }
    p { 
        font-size: 1.2rem;
        font-weight:200;
        @include breakpoint(small){
            font-size: 1rem;
            margin-bottom: 2rem;
        }
    }
    h1 {
        color:white;
        font-size: 1.5rem;
        margin:1.5rem 0 1rem 0;
        @include breakpoint(small){
            font-size: 1.3rem;
            margin:0.5rem 0 0.6rem 0;
        }
    }
}

