.hero-section {
    position: relative;
    height: 80rem;
    width:100%;
    background:url('../../../dist/images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    align-items:center;
    margin:0;
    @include breakpoint(xxxlarge){
        height: 100vh;
    }
    @include breakpoint(small){
        justify-content: center;
        align-items:flex-end;
    }
    .hero-arrow {        
        position: absolute;
        bottom:8%;
        height: 4rem;
        width: 4rem;
        background:url('../../../dist/images/hero-arrow.svg');
        background-repeat: no-repeat;
        background-size: 4.4rem 3.6rem;
        background-position: center center;
        transition:0.2s all ease;
        cursor:pointer;
        @include breakpoint(small){
            display: none;
        }
        
        &:hover {
            transform:scale(1.1);
        }
    }
}

.hero-article {    
    justify-content: center;
    align-items:center;
    background:$black-overlay; 
    border-radius: 0.6rem;
    margin-top:5%;
    padding: 0rem 4.5rem 1.5rem 4.5rem;
    @include breakpoint(small){
        width: 100%;
        padding:1rem 0;
        border-radius: 0;
        padding-bottom: 2rem;
    }
    p { 
        font-size: 1.1rem;
        font-weight:200;
        color:white;
        @include breakpoint(small){
            font-size: 1rem;
            margin-bottom: 2rem;
        }
    }
    h1 {
        color:white;
        font-size: 1.5rem;
        margin:1.5rem 0 1.5rem 0;
        @include breakpoint(small){
            font-size: 1.3rem;
            margin:0.5rem 0 0.6rem 0;
        }
    }
}

