//VARIABLES AND MIXINS
//COLORS
$teal:#3ebea3;
$dark-teal:#096B72;
$grey:#414B50;
$black-overlay: rgba(0, 0, 0, 0.82);

/*------------- Breakpoints mixin*/

$breakpoints: ( 'xxsmall': ( max-width: 360px),'xsmall': ( max-width: 375px), 'small': ( max-width: 464px),'smedium': ( max-width: 560px ), 'medium': ( max-width: 854px), 'large': ( max-width: 1100px), 'xlarge': ( max-width: 1300px), 'xxlarge': ( max-width:1500px), 'xxxlarge': ( max-width:2000px));
@mixin breakpoint($name) {
    @if map-has-key($breakpoints, $name) {
        @media #{inspect(map-get($breakpoints, $name))} {
            @content;
        }
    }
    @else {
        @warn "No breakpoint with this name `#{$name}`.";
    }
}


/*Mixin for animations*/

@mixin keyframe ($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }
    @-moz-keyframes #{$animation-name} {
        @content;
    }
    @-ms-keyframes #{$animation-name} {
        @content;
    }
    @-o-keyframes #{$animation-name} {
        @content;
    }
    @keyframes #{$animation-name} {
        @content;
    }
}

@mixin animation($animation, $duration, $forwards, $iteration) {
    -webkit-animation-name: #{$animation};
    -webkit-animation-duration: #{$duration};
    -webkit-animation-fill-mode: #{$forwards};
    -webkit-animation-iteration-count: #{$iteration};
    -moz-animation-name:#{$animation};
    -moz-animation-duration: #{$duration};
    -moz-animation-fill-mode: #{$forwards};
    -moz-animation-iteration-count: #{$iteration};
    -ms-animation-name:#{$animation};
    -ms-animation-duration: #{$duration};
    -ms-animation-fill-mode: #{$forwards};
    -ms-animation-iteration-count: #{$iteration};
    -o-animation-name: #{$animation};
    -o-animation-duration: #{$duration};
    -o-animation-fill-mode: #{$forwards};
    -o-animation-iteration-count:#{$iteration};
    animation-name: #{$animation};
    animation-duration: #{$duration};
    animation-fill-mode: #{$forwards};
    animation-iteration-count: #{$iteration};
}
